<div class="flex flex-column w-100 b--black-10 ba mb3 br3 overflow hidden">
  <div class="flex flex-row justify-between items-center w-100 bg-light-gray pa3 bb b--black-10 br3 br--top-ns">
    <div class="f4">{{name}}</div>
    <a class="f6 grow no-underline br-pill ba ph3 pv2 dib green pointer" 
      (click)="addItem()">Add</a>
  </div>
  <div class="w-100 pa3">
    <div class="flex flex-row pb3"
      *ngFor="let item of collection; let i = index;">
      <div class="flex-auto flex flex-row items-center pr5">
        <label class="pr2" for="name">Name</label>
        <input class="input-reset flex-auto ba b--black-20 pa2 db"
          [(ngModel)]="item.name"
          (ngModelChange)="updateItem($event, 'name', i)"
          placeholder="name">
      </div>
      <div class="flex-auto flex flex-row items-center pr5">
        <label class="pr2" for="value">Value</label>
        <input class="input-reset flex-auto ba b--black-20 pa2 db"
          [(ngModel)]="item.value"
          (ngModelChange)="updateItem($event, 'value', i)"
          placeholder="value">
      </div>
      <div class="flex-auto flex flex-row items-center pr5">
        <label class="pr2" for="type">Type</label>
        <select class="input-reset flex-auto ba b--black-20 pa2 db"
          [(ngModel)]="item.type"
          (ngModelChange)="updateItem($event, 'type', i)"
          placeholder="type">
          <option *ngFor="let option of typeOptions" value="{{option.value}}">{{option.label}}</option>
        </select>
      </div>
      <div class="flex flex-row items-center">
        <a class="f6 grow no-underline br-pill ba ph3 pv2 dib black pointer"
          (click)="deleteItem(i)"
        >Delete</a>
      </div>
    </div>
    <div [hidden]="collection.length !== 0">
      No items.
    </div>
  </div>
</div>
  