<div class="flex flex-column w-100 b--black-10 ba mb3 br3 overflow hidden">
    <div class="flex flex-row justify-between items-center w-100 bg-light-gray pa3 bb b--black-10 br3 br--top-ns">
      <div class="f4">Financial Statement</div>
    </div>
    <div class="flex flex-row">
      <div class="flex-auto w-20 pa3">
        <div class="flex flex-row justify-between">
          <div>Total Income:</div>
          <div>{{incomeValue}}</div>
        </div>
        <div class="flex flex-row justify-between">
          <div>Total Expenses:</div>
          <div>{{expenseValue}}</div>
        </div>
        <div class="flex flex-row justify-between b">
          <div>Disposable Income:</div>
          <div>{{incomeValue-expenseValue}}</div>
        </div>
      </div>
      <div class="flex-auto w-80 pa3">

      </div>
    </div>
  </div>
    